<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.team11.ditto">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera2" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ditto">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="MyHabitActivity"
            android:exported="true"/>
        <activity
            android:name=".UserProfileActivity"
            android:exported="true"
            android:label="Profile"
            />
        <activity
            android:name=".follow.FollowingActivity"
            android:exported="true"
            android:label="Following (demo)"
            android:parentActivityName=".UserProfileActivity"
            />
        <activity
            android:name=".DueTodayActivity"
            android:exported="true"
            />
        <activity
            android:name=".profile_details.SearchUserActivity"
            android:exported="true"
            android:parentActivityName=".UserProfileActivity"
            android:label="Search Users (demo)"
            android:windowSoftInputMode="adjustPan"
            />
        <activity
            android:name=".follow.FollowRequestActivity"
            android:exported="true"
            android:parentActivityName=".UserProfileActivity"
            android:label="Follow Requests (demo)"/>

        <activity
            android:name=".follow.FollowerActivity"
            android:exported="true"
            android:parentActivityName=".UserProfileActivity"
            android:label = "Followers (demo)"/>

        <activity
            android:name=".login.SignUpActivity"
            android:exported="true"
            android:label="Sign Up"
            />

        <activity
            android:name=".login.SignInActivity"
            android:exported="true"
            android:label="Sign In"
            />

        <activity
            android:name="WelcomeActivity"
            android:exported="true"
            android:label="@string/app_name"
            />



        <activity
            android:name=".follow.FriendHabitActivity"
            android:exported="true"
            android:parentActivityName=".follow.FollowingActivity"/>

        <activity
            android:name=".habit.ViewHabitActivity"
            android:parentActivityName=".MyHabitActivity"/>

        <activity
            android:name=".habit_event.ViewEventActivity"
            android:parentActivityName=".MainActivity"/>


        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>